html {
    font-size: 15px;
  }
  
  body {
    font-family: $font-family;
    background-color: $background-color;
    color: #ffffff;
  }
  
  .encabezado-bg-index {
    background-image: url('../assets/PROMETHEUS.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .img-logo {
    height: 60px;
    width: auto;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: $primary-color;
  }
  
  .imagenes-servicios-y-componentes {
    background-color: $primary-color;
    width: 100%;
  }
  
  .titulos-article {
    color: $primary-color;
  }
  
  .col-md-4 p.text-center {
    color: $primary-color;
  }