@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
  }
  
  @mixin tamanio($ancho, $alto) {
    width: $ancho;
    height: $alto;
  }
  
  @mixin sin-parametros {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: center;
  }